@import url("https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");

:root {
  --cor-um: #f2e5d7;
  --cor-dois: #61707d;
  --cor-tres: #eb4511;
  --cor-quatro: #260f26;
}

#botao-limpar {
  display: block;
  z-index: 99999;
  position: relative;

  width: 100%;
  text-align: center;
  margin: 1rem;
}

#limpar {
  padding: 0.5rem 0.8rem;

  border: 5px solid var(--cor-quatro);
  background-color: var(--cor-tres);
  border-radius: 1rem;

  color: var(--cor-quatro);
  font-family: "Martian Mono";
  font-weight: 800;

  box-shadow: 4px 4px;
}

h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(5, 5, 5);
  font-family: "Rampart One", cursive;
  font-size: 2.3rem;
}

h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2.1rem;
  color: rgb(0, 0, 0);
  font-family: "Martian Mono", monospace;
  font-size: 20px;
}

p {
  display: flex;
  justify-content: start;
  text-align: start;
  color: black;
  font-family: "Martian Mono", monospace;
  font-size: 15px;
  margin: 15px;
  margin-top: 2rem;
}

.botoes {
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
  margin-right: 1rem;
}

#fechar1 {
  border: 1px solid rgb(31, 30, 30);
  background-color: rgb(250, 238, 230);
  color: black;
  border-radius: 8px;
}

#fechar2 {
  border: 1px solid rgb(31, 30, 30);
  background-color: rgb(250, 238, 230);
  color: black;
  border-radius: 8px;
}

#fechar3 {
  border: 1px solid rgb(31, 30, 30);
  background-color: rgb(250, 238, 230);
  color: black;
  border-radius: 8px;
}

#fechar4 {
  border: 1px solid rgb(31, 30, 30);
  background-color: rgb(250, 238, 230);
  color: black;
  border-radius: 8px;
}

#fechar5 {
  border: 1px solid rgb(31, 30, 30);
  background-color: rgb(250, 238, 230);
  color: black;
  border-radius: 8px;
}

#fechar6 {
  border: 1px solid rgb(31, 30, 30);
  background-color: rgb(250, 238, 230);
  color: black;
  border-radius: 8px;
}

#fechar7 {
  border: 1px solid rgb(31, 30, 30);
  background-color: rgb(250, 238, 230);
  color: black;
  border-radius: 8px;
}

#texto-geral {
  display: none;
  z-index: 99999;

  position: relative;

  border: 2px solid rgb(202, 53, 53);
  background-color: rgb(216, 64, 64);
  border-radius: 1rem;

  margin: 20px;
  padding: 10px;

  box-shadow: 4px 4px;
}

#texto-garra {
  display: none;
  z-index: 99999;

  position: relative;

  border: 2px solid rgb(202, 53, 53);
  background-color: rgb(216, 64, 64);
  border-radius: 1rem;

  margin: 20px;
  padding: 10px;

  box-shadow: 4px 4px;
}

#texto-sensor {
  display: none;
  z-index: 99999;

  position: relative;

  border: 2px solid rgb(202, 53, 53);
  background-color: rgb(216, 64, 64);
  border-radius: 1rem;

  margin: 20px;
  padding: 10px;

  box-shadow: 4px 4px;
}

#texto-motor {
  display: none;
  z-index: 99999;

  position: relative;

  border: 2px solid rgb(202, 53, 53);
  background-color: rgb(216, 64, 64);
  border-radius: 1rem;

  margin: 20px;
  padding: 10px;

  box-shadow: 4px 4px;
}

#texto-rodas {
  display: none;
  z-index: 99999;

  position: relative;

  border: 2px solid rgb(202, 53, 53);
  background-color: rgb(216, 64, 64);
  border-radius: 1rem;

  margin: 20px;
  padding: 10px;

  box-shadow: 4px 4px;
}

#texto-ev3 {
  display: none;
  z-index: 99999;

  position: relative;

  border: 2px solid rgb(202, 53, 53);
  background-color: rgb(216, 64, 64);
  border-radius: 1rem;

  margin: 20px;
  padding: 10px;

  box-shadow: 4px 4px;
}

#texto-pecas {
  display: none;
  z-index: 99999;

  position: relative;

  border: 2px solid rgb(202, 53, 53);
  background-color: rgb(216, 64, 64);
  border-radius: 1rem;

  margin: 20px;
  padding: 10px;

  box-shadow: 4px 4px;
}
